@model List<EntityLayer.Concrete.PainScoreEntry>

<script src="~/js/bootstrap.min.js"></script>
<h2>Ağrı Sonuçları Çizelgesi</h2>
<canvas id="painScoreChart" width="400" height="200"></canvas>
<h1>Ağrı sonuçları Tarihleri</h1>

<div>
    <canvas id="painScoreChart" width="400" height="200"></canvas>
</div>

<div>
    <a asp-action="Create" class="btn btn-success">Yeni Score ekle</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Tarihler</th>
            <th>Ağrı-Sonuçları</th>
            <th>Aksiyonlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var painScore in Model)
        {
            <tr>
                <td>@painScore.Date.ToShortDateString()</td>
                <td>@painScore.Score</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@painScore.Id" class="btn btn-primary">Güncelle</a>
                    <a asp-action="Delete" asp-route-id="@painScore.Id" class="btn btn-danger">Sil</a>
            </tr>
        }
    </tbody>
</table>








@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var dates = @Html.Raw(Json.Serialize(Model.Select(x => x.Date.ToShortDateString())));
        var scores = @Html.Raw(Json.Serialize(Model.Select(x => x.Score)));

        var ctx = document.getElementById('painScoreChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Pain Scores',
                    data: scores,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    fill: false
                }]
            },
            options: {
                responsive: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

}





